html,
body {
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
}
#page {
    width: 1112px;
    border: solid 1px #ccc;
    margin: 0 auto 0 auto;
    font-family: 'PT Sans', sans-serif;
}
.cols {
    display: flex;
}

/* HEADER ------------------------------- */
header {
    height: 655px;
    background-image: url(../images/hotel-1080x720.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    text-align: center;
    color: white;
}
#accroche {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}
header nav {
    margin-top: 40px;
}
header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px 0 15px;
    padding: 0 0 3px 0;
    border-bottom: solid 1px white;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.2em;
}
#logo {
    margin: 30px 0 0 0;
}

/* ARTICLE ------------------------------- */
article {
    width: 772px;
    padding: 53px 25px 25px 25px;
  	font-size: 14px;
}
article img {
    width: 100%;
    height: auto;
}
article .surtitre {
  	color: #999;
  	font-family: "Times New Roman", Georgia, Serif;
  	font-size: 17px;
  	margin: 15px 0 0 0;
}
article h2 {
    font-size: 30px;
  	font-weight: normal;
  	margin: 0px 0 15px 0;
}
.bouton {
    background-color: black;
    color: white;
    display: block;
    width: 128px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
  	font-size: 10px;
  	letter-spacing: 0.2em;
  	margin: 15px 0;
}
.bouton:hover {
    background-color: red;
}

/* ASIDE ------------------------------- */
aside {
    width: 340px;
    padding: 53px 30px 25px 30px;
    font-size: 14px;
}
aside h3 {
    border: solid 1px #cccccc;
    border-bottom: solid 2px black;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-weight: normal;
    color: #333333;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
  	margin: 0 0 20px 0;
}
aside ul {
    list-style-type: none;
    margin: 0 0 30px 0;
    padding: 0;
}
aside li {
}
aside li a {
    display: block;
    text-decoration: none;
    border-bottom: solid 1px #cccccc;
    color: black;
    padding: 11px 0 11px 0;
}
aside li:last-child a {
    border-bottom: none;
}
aside li a span {
    color: grey;
}

/* FOOTER ------------------------------- */
footer {
    background-color: black;
    color: #FFFFFF;
	text-align: right;
  	padding: 15px;
  	font-size: 15px;
}
footer a {
  	color: #ffffff;
  	font-weight: bold;
}








/*---------------------------------------Version mobile--------------------------------*/


@media screen and (max-width:576px){
    #page{
        width:100%;
    }
    .cols{
        display:block;
    }
    article, aside{
        width:auto
    }
    article img{
        width:100%;
        height:auto;
    }
    header{
        height:auto;
        background-image: none;
        background-color:black;
    }
    .imageBandeau{
        background-image: url(../images/hotel-1080x720.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height:220px;
    }
    header nav a {
        display:block;
        text-align: center;
        color:black;
        background-color: #b9b9b9;
        border-bottom: solid 1px #bebebe;
        margin:0;
        height:40px;
        line-height: 40px;
        font-size: 15px;
    }
    article .bouton{
        width:100%;
    }
    
}